APP_ENV=dev

# Сервер
GRPC_ADDRESS=:9090
SHUTDOWN_TIMEOUT=10s
SERVER_READ_TIMEOUT=5s
SERVER_WRITE_TIMEOUT=5s
SERVER_MAX_MSG_SIZE=4194304

# PostgreSQL
POSTGRES_DSN=postgres://admin:your_super_secret_password@localhost:5432/credentials_vault?sslmode=disable
POSTGRES_MAX_OPEN_CONNS=25
POSTGRES_MAX_IDLE_CONNS=5
POSTGRES_CONN_MAX_LIFETIME=5m
POSTGRES_CONN_MAX_IDLE_TIME=5m
POSTGRES_CONNECT_TIMEOUT=10s
POSTGRES_MAX_RETRIES=5
POSTGRES_RETRY_INTERVAL=3s
POSTGRES_MIGRATE_ON_START=true
POSTGRES_MIGRATION_TIMEOUT=30s

# JWT
JWT_SECRET=your-super-secret-key-at-least-32-characters-long
JWT_ACCESS_TTL=15m
JWT_ISSUER=credentials-vault